WebServices/resources/Data.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Demo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Demo" targetNamespace="http://www.example.org/Demo/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Demo/">

      <xsd:complexType name="Message">
      	<xsd:sequence>

      		<xsd:element name="author" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="stime" type="xsd:dateTime"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="lat" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="lon" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="tags" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="type" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="ipath" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="result" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>                  <xsd:element name="Search">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="author" type="xsd:string"
      				maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="stime" type="xsd:string"
      				maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="lat" type="xsd:string"
      				maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="lon" type="xsd:string"
      				maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="tags" type="xsd:string"
      				maxOccurs="1" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="result" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetItem">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="item" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetItemResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="messages" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="RegisterImage">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="RegisterImageResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="result" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PassInfo">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="tns:Message" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      			<xsd:element name="queryName" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="orgServer" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PassInfoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="result" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ParallelInfo">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="author" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="stime" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="lat" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="lon" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="tags" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ParallelInfoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="tns:Message" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="SearchRequest">
  	<wsdl:part name="parameters" element="tns:Search"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SearchResponse">
  	<wsdl:part name="parameters" element="tns:SearchResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetItemRequest">
  	<wsdl:part name="parameters" element="tns:GetItem"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetItemResponse">
  	<wsdl:part name="parameters" element="tns:GetItemResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterImageRequest">
  	<wsdl:part name="parameters" element="tns:RegisterImage"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterImageResponse">
  	<wsdl:part name="parameters" element="tns:RegisterImageResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PassInfoRequest">
  	<wsdl:part name="parameters" element="tns:PassInfo"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PassInfoResponse">
  	<wsdl:part name="parameters" element="tns:PassInfoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ParallelInfoRequest">
  	<wsdl:part name="parameters" element="tns:ParallelInfo"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ParallelInfoResponse">
  	<wsdl:part name="parameters" element="tns:ParallelInfoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Search">            <wsdl:operation name="Search">
    	<wsdl:input message="tns:SearchRequest"></wsdl:input>
    	<wsdl:output message="tns:SearchResponse"></wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="GetItem">
        	<wsdl:input message="tns:GetItemRequest"></wsdl:input>
        	<wsdl:output message="tns:GetItemResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegisterImage">
        	<wsdl:input message="tns:RegisterImageRequest"></wsdl:input>
        	<wsdl:output message="tns:RegisterImageResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PassInfo">
        	<wsdl:input message="tns:PassInfoRequest"></wsdl:input>
        	<wsdl:output message="tns:PassInfoResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ParallelInfo">
        	<wsdl:input message="tns:ParallelInfoRequest"></wsdl:input>
        	<wsdl:output message="tns:ParallelInfoResponse"></wsdl:output>
        </wsdl:operation></wsdl:portType>
  <wsdl:binding name="DemoSOAP" type="tns:Search">




  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Search">

  		<soap:operation
  			soapAction="http://www.example.org/Demo/Search" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetItem">
  		<soap:operation
  			soapAction="http://www.example.org/Demo/GetItem" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="RegisterImage">
  		<soap:operation
  			soapAction="http://www.example.org/Demo/RegisterImage" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="PassInfo">
  		<soap:operation
  			soapAction="http://www.example.org/Demo/PassInfo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="ParallelInfo">
  		<soap:operation
  			soapAction="http://www.example.org/Demo/ParallelInfo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Search">
    <wsdl:port binding="tns:DemoSOAP" name="DemoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
