WebServices/resources/Lookup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Lookup/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Lookup" targetNamespace="http://www.example.org/Lookup/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Lookup/">
      <xsd:element name="SearchLookup">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serverName" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchLookupResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nextURL" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SearchLookupRequest">
    <wsdl:part element="tns:SearchLookup" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SearchLookupResponse">
    <wsdl:part element="tns:SearchLookupResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Lookup">
    <wsdl:operation name="SearchLookup">
      <wsdl:input message="tns:SearchLookupRequest"/>
      <wsdl:output message="tns:SearchLookupResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LookupSOAP" type="tns:Lookup">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="SearchLookup">
  		<soap:operation
  			soapAction="http://www.example.org/Lookup/SearchLookup" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lookup">
    <wsdl:port binding="tns:LookupSOAP" name="LookupSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
