WebServices/resources/Old-Video.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Video/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Video" targetNamespace="http://www.example.org/Video/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Video/">
      <xsd:element name="SearchVideo">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="author" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          	<xsd:element name="stime" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="lat" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="lon" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="tags" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchVideoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="tns:Message" maxOccurs="unbounded" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Message">
      	<xsd:sequence>
      		<xsd:element name="author" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="stime" type="xsd:dateTime" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="lat" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="lon" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="tags" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="ipath" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="result" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetVideo">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="videoPath" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetVideoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="messages" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PassInfo">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="tns:Message"
      				maxOccurs="unbounded" minOccurs="0">
      			</xsd:element>
      			<xsd:element name="queryName" type="xsd:string"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="orgServer" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PassInfoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="result" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ParallelInfo">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="author" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="stime" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="lat" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="lon" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="tags" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      			<xsd:element name="type" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ParallelInfoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="message" type="tns:Message" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ParallelInfo">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ParallelInfoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SearchVideoRequest">
    <wsdl:part element="tns:SearchVideo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SearchVideoResponse">
    <wsdl:part element="tns:SearchVideoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetVideoRequest">
  	<wsdl:part name="parameters" element="tns:GetVideo"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetVideoResponse">
  	<wsdl:part name="parameters" element="tns:GetVideoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PassInfoRequest">
  	<wsdl:part name="parameters" element="tns:PassInfo"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PassInfoResponse">
  	<wsdl:part name="parameters" element="tns:PassInfoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ParallelInfoRequest">
  	<wsdl:part name="parameters" element="tns:ParallelInfo"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ParallelInfoResponse">
  	<wsdl:part name="parameters" element="tns:ParallelInfoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ParallelInfoRequest">
  	<wsdl:part name="parameters" element="tns:ParallelInfo"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ParallelInfoResponse">
  	<wsdl:part name="parameters" element="tns:ParallelInfoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Video">
    <wsdl:operation name="SearchVideo">
      <wsdl:input message="tns:SearchVideoRequest"/>
      <wsdl:output message="tns:SearchVideoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetVideo">
    	<wsdl:input message="tns:GetVideoRequest"></wsdl:input>
    	<wsdl:output message="tns:GetVideoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassInfo">
    	<wsdl:input message="tns:PassInfoRequest"></wsdl:input>
    	<wsdl:output message="tns:PassInfoResponse"></wsdl:output>
    </wsdl:operation>      </wsdl:portType>
  <wsdl:binding name="VideoSOAP" type="tns:Video">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="SearchVideo">
  		<soap:operation
  			soapAction="http://www.example.org/Video/SearchVideo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="GetVideo">
  		<soap:operation
  			soapAction="http://www.example.org/Video/GetVideo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="PassInfo">
  		<soap:operation
  			soapAction="http://www.example.org/Video/PassInfo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="">
  		<soap:operation
  			soapAction="http://www.example.org/Video/ParallelInfo" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Video">
    <wsdl:port binding="tns:VideoSOAP" name="VideoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
