WebServices/resources/SALVideoSearcher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SALVideoSearcher" targetNamespace="http://www.example.org/SALVideoSearcher/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/SALVideoSearcher/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SALVideoSearcher/">
    	<xsd:element name="Query">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element maxOccurs="1" minOccurs="0" name="type" type="xsd:string"/>
    				<xsd:element maxOccurs="1" minOccurs="0" name="author" type="xsd:string">
    				</xsd:element>
    				<xsd:element maxOccurs="1" minOccurs="0" name="location" type="tns:locationRange">
    				</xsd:element>
    				<xsd:element maxOccurs="1" minOccurs="0" name="tags" type="xsd:string">
    				</xsd:element>
    				<xsd:element maxOccurs="1" minOccurs="0" name="text" type="xsd:string">
    				</xsd:element>

    				<xsd:element maxOccurs="1" minOccurs="0" name="time" type="tns:timeRange">
    				</xsd:element>

    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="QueryResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element maxOccurs="unbounded" minOccurs="0" name="results" type="tns:element"/>





    				<xsd:element name="returnCode" type="xsd:int"/>
    				<xsd:element name="returnMsg" type="xsd:string"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>

    	<xsd:complexType name="timeRange">
    		<xsd:sequence>
    			<xsd:element name="start" type="xsd:dateTime"/>
    			<xsd:element name="end" type="xsd:dateTime"/>
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="locationRange">
    		<xsd:sequence>
    			<xsd:element name="topLeftLatitude" type="xsd:double"/>
    			<xsd:element name="topLeftLongitude" type="xsd:double">
    			</xsd:element>
    			<xsd:element name="bottomRightLatitude" type="xsd:double">
    			</xsd:element>
    			<xsd:element name="bottomRightLongitude" type="xsd:double">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="element">
    		<xsd:sequence>
    			<xsd:element name="type" type="xsd:string"/>
    			<xsd:element name="url" type="xsd:string"/>
    			<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="timestamp" type="xsd:dateTime">
    			</xsd:element>

    			<xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="xsd:double">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="xsd:double">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="tags" type="xsd:string">
    			</xsd:element>


    			<xsd:element maxOccurs="1" minOccurs="0" name="author" type="xsd:string"/>
    		</xsd:sequence>
    	</xsd:complexType>
    	<xsd:element name="Get">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="url" type="xsd:string"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="GetResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element maxOccurs="1" minOccurs="0" name="item" type="xsd:base64Binary"/>
    				<xsd:element name="returnCode" type="xsd:int"/>
    				<xsd:element name="returnMsg" type="xsd:string"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QueryRequest">
    <wsdl:part name="parameters" element="tns:Query">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRequest">
    <wsdl:part name="parameters" element="tns:Get">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="QueryResponse">
    <wsdl:part name="parameters" element="tns:QueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResponse">
    <wsdl:part name="parameters" element="tns:GetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SALVideoSearcher">
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QueryRequest">
    </wsdl:input>
      <wsdl:output message="tns:QueryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SALVideoSearcherSOAP" type="tns:SALVideoSearcher">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://www.example.org/SALVideoSearcher/Query"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://www.example.org/SALVideoSearcher/Get"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SALVideoSearcher">
    <wsdl:port name="SALVideoSearcherSOAP" binding="tns:SALVideoSearcherSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
